.Tile {
  /* margin: 25px; */
}

.Tile-Grid-lg {
  display: grid;
  justify-content: space-evenly;
  grid-row-gap: 75px;
  grid-column-gap: 25px;
  grid-template-columns: repeat(auto-fill, 325px);
}

.Tile-Grid-sm {
    display: grid;
    justify-content: space-evenly;
    grid-row-gap: 75px;
    grid-column-gap: 25px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
