.Navbar {
    height: 100vh;
    color: green;
    text-align: center;
}

.test {
    margin-top: 200px;
}

.Navbar-layout {
    width: 300px;
    background: white;
    height: 100vh;
    position: fixed;
}

